Screen {
  background: #282a36;
  margin: 0;
  padding: 0;
  color: #f8f8f2;
}

ChatBox {
  padding-bottom: 2;
  height: 100%;
  overflow: auto auto;
  scrollbar-background: #282a36;
  scrollbar-background-hover: #282a36;
  scrollbar-background-active: #282a36;
  scrollbar-color: #44475a;
  scrollbar-color-hover: #44475a;
  scrollbar-color-active: #bd93f9;
}
Input {
  height: 3;
  padding-left: 1;
  border: tall #bd93f9;
  background: #282a36;
  width: 100%;
  max-width: 100%;
  dock: bottom;
}
Input:disabled {
  border: tall #44475a;
}
.statusbar {
  background: #44475a;
  height: 1;
  margin: 0;
  padding-right: 1;
  width: 100%;
  text-align: right;
  dock: top;
}

ChatItem {
  padding-left: 1;
  padding-right: 1;
  margin-bottom: 1;
  border: tall #44475a;
  max-width: 100%;
}

.chatlabel {
  color: #282a36;
  margin-left: 2;
  width: 6;
  background: #50fa7b;
  content-align: center middle;
}

.user {
  background: #bd93f9;
}

.llm {
  background: #44475a;
}
.filebox {
  background: #ffb86c;
}

UserLabel {
  color: #282a36;
  margin-left: 2;
  padding-left: 1;
  padding-right: 1;
  width: 6;
}

Toast {
  background: #44475a;
  border-right: none;
  width: auto;
}

ToastRack {
  align: right top;
  margin-top: 1;
}
