Screen {
  background: #282a36;
  margin: 0;
  padding: 0;
  color: #f8f8f2;
}

ChatBox {
  padding-bottom: 2;
  height: 100%;
  overflow: auto auto;
  scrollbar-background: #282a36;
  scrollbar-background-hover: #282a36;
  scrollbar-background-active: #282a36;
  scrollbar-color: #44475a;
  scrollbar-color-hover: #44475a;
  scrollbar-color-active: #44475a;
}
Input {
  height: 1;
  padding-left: 1;
  border: none;
  border-left: tall #44475a;
  background: #282a36;
  width: 100%;
  max-width: 100%;
  dock: bottom;
}

Input:focus {
  border-left: tall #8be9fd;
  background: #282a36;
}

ChatItem {
  padding-left: 1;
  padding-right: 1;
  margin-bottom: 1;
  border-left: tall #44475a;
  max-width: 100%;
}

.user {
  border-left: tall #50fa7b;
}

.llm {
  border-left: tall #bd93f9;
}
.filebox {
  border-left: tall #44475a;
}

Toast {
  background: #44475a;
  border-right: none;
  width: auto;
}

ToastRack {
  align: right bottom;
  margin-top: 1;
}
